name: GitHub Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Project checkout
        uses: actions/checkout@v4

      - name: Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Project Build
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew check

      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v6
        with:
          github-token: '${{ github.token }}'
          preset: 'conventionalcommits'
          tag-prefix: 'v'
          skip-bump: 'true'
          skip-tag: 'true'
          skip-git-pull: 'true'
          git-branch: 'main'

      - name: Release on GitHub
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body: ${{ steps.changelog.outputs.clean_changelog }}